.travel-detail-comment-list {
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.travel-detail-comment {
  border: 1px solid var(--gray);
  position: relative;
  padding: 0.5rem;
}

.travel-detail-comment-actions {
  display: flex;
  position: absolute;
  gap: 0.25rem;
  top: 0.5rem;
  right: 0.5rem;
}

.travel-detail-comment > p {
  padding-top: 0.5rem;
}
