* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
}

body {
  background-color: var(--light);
  color: var(--dark);

  /* color-scheme */

  font-family: var(--regular-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.hidden {
  display: none;
}

main {
  padding: 1rem 2rem;
}

button {
  cursor: pointer;
}

.danger {
  color: var(--danger) !important;
  border-color: var(--danger) !important;
}

.warning {
  color: var(--warning) !important;
  border-color: var(--warning) !important;
}

.success {
  color: var(--success) !important;
  border-color: var(--success) !important;
}

.bg-success {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
  color: var(--primary-contrast) !important;
}

.heading {
  font-family: var(--title-font);
}

.spin {
  animation: spin linear 1s infinite;
}

.text-big {
  font-size: 2rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.swiper-pagination-bullet {
  background-color: white !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--primary) !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--primary) !important;
  opacity: 1 !important;
}

.ReactModal__Body--open {
  overflow: hidden;
}
.ReactModal__Overlay {
  z-index: 100;
}
.ReactModal__Content {
  inset: 1rem !important;
  overflow: hidden !important;
}

.modal-close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

input,
textarea,
select,
button {
  font-family: var(--regular-font);
}

@media (min-width: 768px) {
  .md-flex {
    display: flex;
  }
}
