:root {
  --primary: #4a90e2;
  --primary-contrast: var(--light);

  --success: #60b735;
  --success-contrast: var(--dark);

  --danger: #e23636;
  --warning: #b3a023;
  --light: #f2f2f3;
  --gray: #415058;
  --dark: #1f292e;

  --title-font: "Montserrat", sans-serif;
  --regular-font: "Varela Round", sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --dark: #f2f2f3;
    --light: #1f292e;
  }
} */
